boto==2.42.0
certifi==2016.9.26
cffi==1.8.3
configparser==3.5.0
coreapi==2.0.0
cryptography==1.5.2
Django==1.10.1
django-autofixture==0.12.1
django-bootstrap3==7.0.1
django-cors-headers==1.2.2
django-filter==0.14.0
django-formtools==1.0
django-rest-swagger==2.0.5
django-storages==1.5.1
djangorestframework==3.4.6
enum34==1.1.6
flake8==3.0.4
idna==2.1
invoke==0.13.0
ipaddress==1.0.17
itypes==1.1.0
Markdown==2.6.6
mccabe==0.5.2
ndg-httpsclient==0.4.2
openapi-codec==1.0.0
Pillow==3.3.1
pyasn1==0.1.9
pycodestyle==2.0.0
pycparser==2.14
pyflakes==1.2.3
pyOpenSSL==16.2.0
requests==2.11.1
simplejson==3.8.2
six==1.10.0
uritemplate==3.0.0
urllib3==1.18
